body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;
    margin: 0;
}
.header{
    height: 10px; 
    display: flex;
    justify-content: space-between;
    color: white;
    padding-bottom: 75px;
    background-color: #461165;
    padding-left: 175px;
    padding-right: 175px;
}
.title{
    font-size: 24px;
    display: flex;
    justify-content: flex-start;
    font-style: extra-bold;
}
ul{
    list-style-type: none;
    text-decoration: none;
    font-size: 18px;
    margin: 0;
    padding: 0;
    color: #E5E7EB
}
li{
    display: inline-block;
    margin: 20px
}
.header-text{
    font-size: 36px;
    font-weight: 900;
    color: #F9FAF8;
    padding-bottom: 0;
}
.header-modal{
    background-color: #461165;
    height: 350px;
    display: flex;
    align-items: center;
    gap: 200px;
    flex: 1;
    padding-left: 175px;
    padding-right: 175px;
    padding-bottom: 50px;

}
.header-para{
    display: flex;
    flex-flow: column wrap;
    gap: 16px;   
}
.header-image{
    padding-top: 50px;
    height: 250px;
}
a{
    color: #F9FAF8;
    text-decoration: none;
}
.sign-up-button{
    cursor: pointer;
    border-radius: 8px;
    padding: 8px 24px;
    background-color: #3882F6;
    color: #E5E7EB;
    border: 1px solid #3882F6;
    height: 25px;
    max-width: 100px;
    padding: 0;
    font-weight: bold;

}
.image-container{
    display: flex;
    flex-wrap: wrap;
}
.header-two{
    display: flex;
    justify-content: center;
    align-items: center;
    font-size: 36px;
    font-weight: 900;
    font-style: extra-bold;
    
}
.second-block{
    height: 350px;
    background-color: white;
    padding-left: 175px;
    padding-right: 175px;
    display: flex;
    justify-content: space-around;
    align-items: center;
    color: #1F2937;
}
.card {
    border: 1px solid #eee;
    height: 200px;
    width: 200px;
  }
.second-block-images{
    height: 200px;
    width: 200px;
    border-radius: 8px;
    box-shadow: 2px 4px 16px #461165;
}
.third-block{
    background-color: #b398c3;
    height: 225px;
    display: flex;
    flex-direction: column;
    color: #1F2937;
    padding-top: 75px;
    padding-left: 175px;
    padding-right: 175px;
}
.quote{
    font-size: 36px;
    font-style: italic;
    font-weight: 20;
    display: flex;
    justify-content: center;
}
.quoter{
    font-weight: 600;
    display: flex;
    justify-content: flex-end;
    padding-right: 300px;
}
.fourth-block{
    height: 300px;
    display: flex;
    justify-content: center;
    align-items: center;
    color: #F9FAF8;
    padding-left: 175px;
    padding-right: 175px;
}
.button-two{
    cursor: pointer;
    background-color: #3882F6;
    border-radius: 8px;
    padding: 8px 24px;
    color: #E5E7EB;
    border: 1.5px solid white;
    font-weight: bold;
    height: 25px;
    max-width: 200px;
    display: flex;
    align-items: center;
    justify-content: space-between;
    
}
.action{
    background: #3882F6;
    height: 100px;
    width: 700px;
    border-radius: 8px;
    padding-left: 50px;
    padding-right: 50px;
    padding-bottom: 8px;
    padding-top: 8px;
    display: flex;
    justify-content: space-between;
    align-items: center;
    align-content: space-evenly;
  
}
.header-three{
    font-size: 20px;
}
.text-three{
    font-size: 12px;
    font-weight: 400;
}
